{% extends "base.html.twig" %}
{% block title %}
    Movies Page
{% endblock %}

{% block body %}
    {% if movies %}
        {% for movie in movies %}
            <li>
                {{ movie }}
            </li>
        {% endfor %}
    {% else %}
        <p>Oops! No Movies set</p>
    {% endif %}
    {# {{ _self }}
    {{ _charset }}
    {{ author }} #}
{% endblock %}